{% extends 'shop/basic.html' %}
{% block title%} CreativeScrapyard - Best Ecommerce Website{% endblock %}
{% load static %}


{% block body %}
{% load static %}
<div class="row">
    <h2 class="mx-auto d-block mt-3"><b> About Creative Scrapyard </b></h2>
</div>
<div class="row">
    <p class="mx-5 d-block mb-2"><span style="font-size:xx-large;font-family: Georgia, 'Times New Roman', Times, serif;font-weight: 700;">&#8220;</span>Creative Scrapyard is an e-commerce website that aims to be a platform where people can sell their old or scrap items.

        From our website, an artist can buy those scrap items and customize that scrap items to make useful and decorative items.
        
        These creative items can be sold on the website itself and other people can buy these items.
        
        It help people to earn by selling their scrap, it help the artists to buy stuffs on cheap rate and earn money by showing their creativity on it and it will also promote the initiative of #VocalForLocal and make the world “a better place” by recycling old items. </p>
</div>
<div class="row">
    <h2 class="mx-auto d-block mt-3"><b>We Promote</b></h2>
</div>
<div class="row">
    <div class="col">
        <img class="img-fluid p-5" src="/media/blog/handmade.png/">
        <h4 class="mx-auto d-block text-center"><b>HandMade Items</b></h4>
        <p class="mx-auto d-block text-center" style="font-weight: 500;">A person can sell their handmade arts and stuffs on our platform. This is the way they can earn and grow.</p>
    </div>
    <div class="col">
        <img class="img-fluid p-5" src="/media/blog/store.png/">
        <h4 class="mx-auto d-block text-center"><b>#VocalForLocal</b></h4>
        <p class="mx-auto d-block text-center" style="font-weight: 500;">#VocalForLocal is the tool for the growth of our country. We promote products of independent artitst locally.</p>
    </div>
    <div class="col">
        <img class="img-fluid p-5" src="/media/blog/recycle.png/">
        <h4 class="mx-auto d-block text-center"><b>Recycling</b></h4>
        <p class="mx-auto d-block text-center" style="font-weight: 500;">One can sell there old items or scrap on the platform, which in return can be recycled by anyone.</p>    
    </div>
</div>
<div class="row">
    <h2 class="mx-auto d-block my-3"><b>How It Works?</b></h2>
</div>

<div class="row">
    <div class="col my-auto d-block">
    <h4 class="float-right">Platform For An Independent Artist</h4>
    </div>  
    <div class="col my-auto d-block">
    <p class="mx-5 d-block mb-3"> 
        An artist can add their arts or products made by them on the platform for selling it. It can be anything; a repaired and decorted mug, a customized soap, sketches or anything that they have touched creatively. 
    </p>
    </div>
</div>
<div class="row">
    <div class="col my-auto d-block">
    <h4 class="float-right">Platform For Users To Earn Through Scrap</h4>
    </div>  
    <div class="col">
    <p class="mx-5 d-block mb-3"> 
        Any User can add their scrap or old items on the platform for other users to buy them. An artist can add their arts or products made by them on the platform for selling it. It can be anything; a repaired and decorted mug, a customized soap, sketches or anything that they have touched creatively. 
    </p>
    </div>
</div>
<div class="row">
    <div class="col my-auto d-block">
    <h4 class="float-right">Platform For Turning Best From The Waste</h4>
    </div>  
    <div class="col">
    <p class="mx-5 d-block mb-3"> 
        The scrap that is added by a User on Scrapyard can be bought by anyone, maybe another user, maybe a artist, maybe a designer. This scrap will be customized and recycled and turned into something useful. Some best from the waste artist may buy this scrap and turn it into a creative item and sell it on the Creative Store and earn money by selling it.
    </p>
    </div>
</div>

    
</div>

    {% endblock %}